<div id="chat-container">
    <div id="back-to-inbox">
        <a href="/inbox" class="icon">
            <i class="fa-sharp fa-solid fa-left-long"></i>
        </a>
    </div>
    <div id="message-list">
        {{#if messages}}
        {{#each messages}}
        {{#if isSender}}
        <div class="message sender">
            <div class="message-content">{{this.content}}</div>
            {{#if this.avatar}}
            <img src="{{this.avatar}}" alt="Avatar" class="avatar-message">
            {{else}}
            <img src="/img/default-avatar.png" alt="Avatar" class="avatar-message">
            {{/if}}
        </div>
        {{else}}
        <div class="message">
            {{#if this.avatar}}
            <img src="{{this.avatar}}" alt="Avatar" class="avatar-message">
            {{else}}
            <img src="/img/default-avatar.png" alt="Avatar" class="avatar-message">
            {{/if}}
            <div class="message-content">{{this.content}}</div>
        </div>
        {{/if}}
        {{/each }}
        {{else}}
        <div class="alert alert-info" role="alert">
            <strong>Info!</strong> You don't have any message.
        </div>
        {{/if}}
    </div>
    <div id="message-input">
        <input type="hidden" name="baseUrl" id="base-url" value="{{baseURL}}">
        <input type="hidden" name="userId" id="current-user-id" value="{{user.user_id}}">
        <input type="text" id="input-text" placeholder="Type your message">
        <button id="send-button">Send</button>
    </div>
</div>