<div class="container profile-page">
    <form class="mb-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
    <div class="row" id="row_friend">
        {{#if friends }}
        {{#each friends }}
        <div class="col-12 col-lg-6" id="cart_{{this.friend_id}}">
            <div class="card profile-header">
                <div class="body-profile">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right">
                                {{#if this.friendInfo.avatar }}
                                <img src="{{this.friendInfo.avatar}}" alt="">
                                {{else }}
                                <img src="/img/default-avatar.png" alt="">
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0"><strong>{{this.friendInfo.first_name}}</strong>
                                {{this.friendInfo.last_name}}</h4>
                            <span class="job_post">{{this.friendInfo.username}}</span>
                            <p>{{this.friendInfo.address}}</p>
                            <div>
                                <button class="btn btn-primary btn-round btn-simple"
                                    onclick="message({{this.friend_id}})">Message</button>
                                <button class="btn btn-danger btn-round btn-simple"
                                    onclick="unfriend({{this.friend_id}})">Unfriend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each }}
        {{else }}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <strong>Info!</strong> You don't have any friend.
            </div>
        </div>
        {{/if}}
    </div>
</div>