<style>
    .popup {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        min-width: 120px;
        z-index: 1;
    }

    .popup ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .popup ul li {
        padding: 5px;
        cursor: pointer;
    }

    .popup ul li:hover {
        background-color: #eee;
    }
</style>
<div class="inbox">
    <h2 class="text-center mb-3">List Inboxes</h2>
    <div id="row_conversation">
        {{#if conversations}}
        {{#each conversations}}
        <div class="message-container row" data-conversation-id="{{this.conversation_id}}"
            id="conversation_{{this.conversation_id}}">
            <a href="/message/{{this.conversation_id}}" class="message col-11">
                {{#if this.avatar}}
                <img src="{{this.avatar}}" class="avatar" alt="Default Avatar">
                {{else}}
                <img src="img/default-avatar.png" class="avatar" alt="Default Avatar">
                {{/if}}
                <div class="details">
                    <h3 class="sender-name">{{this.first_name}} {{this.last_name}}</h3>
                    {{#ifCond this.user_id '!=' this.sender_id}}
                    <p class="message-text">You: {{this.content}}</p>
                    {{else}}
                    <p class="message-text">{{this.first_name}}: {{this.content}}</p>
                    {{/ifCond}}
                    <p class="timestamp">{{dateFormat this.created_at 'HH:mm'}}</p>
                </div>
            </a>
            <div class="col-1">
                <div class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="popup">
                        <ul>
                            <li>Remove</li>
                            <li>Mark as Unread</li>
                            <li>Block</li>
                            <li>Mute</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="alert alert-info" role="alert">
            <strong>Info!</strong> No conversations found.
        </div>
        {{/if}}
    </div>
</div>